
.test_composes {
  background: #666;
}

.my_local_css {
  color: #f00;
}

.mylocalcss {
  color: #ff0;
}

// .my_composes {
//   composes: test_composes;
//   composes: my_local_css;
// }

:global(.my-global-css) {
  color: #0f0;
}
